* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    color: hsl(0 0 100);
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    background-image: url("./assets/mars.webp");
    background-color: tan;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

button,
a {
    cursor: pointer;
}

button:focus-visible,
a:focus-visible,
input:focus-visible {
    outline: 5px solid oklch(60% 0.15 252);
}
